body{
  background-color: rgb(224, 228, 10);
  
}

.wrapper{
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
  gap: 5px;
  margin: auto;
  padding: 15px;
  text-align: center;
}
.card{
  border-radius: 5px;
  display: flex;
}

.icons{
  font-size: 24px;
}

button{
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(159, 210, 241);
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

.box{
  display: flex;
}


@media screen and (max-width:650px) {
  .grid{
    width: 100%;
  }
}